h2 {
    color: #3d7742;
    font-family: 'Kavivanar';
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.sub-title {
    color: #f38a2e;
    font-size: 1.5rem;
    font-family: 'Belleza';
}

label {
    padding: 0 0 0 .3rem;
    margin: 0;
    font-size: .8rem;
    font-weight: bolder;
    color: #3d7742;
}
