<h2>Welcome <span class="sub-title">sign up</span></h2>

<!-- <div class="stepper">
    <div class="step-indicator">{{registrationStage}} of 2</div>
    <div>
        <p *ngIf="registrationStage == 1">Login Details <span><br/> Next: Personal Details</span></p>
        <p *ngIf="registrationStage == 2">Personal Details</p>
    </div>
</div> -->

<form #registerForm="ngForm" (submit)="register()">
    
    <!-- First Step -->
    <div *ngIf="registrationStage == 1">

        <!-- User ID-->
        <div class="form-group">
            <label for="userId">ID</label>
            <input #userIdInput="ngModel" type="text" required pattern="^[0-9]{9}$" 
                id="userId" name="userId" class="form-control" placeholder="Enter ID" 
                [(ngModel)]="userDetails.id"
                [ngClass] = "{ 'is-invalid': userIdInput.touched && userIdInput.invalid }"
            />
            <div class="invalid-feedback" 
                *ngIf="userIdInput.touched && userIdInput.invalid">
                    <p *ngIf="userIdInput.errors.required">ID is required</p>
                    <p *ngIf="userIdInput.errors.pattern">User ID should be a 9 figure number</p>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input #emailInput="ngModel" type="email"  required 
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                id="email" name="email" class="form-control" placeholder="Enter Email" 
                [(ngModel)]="userDetails.email" 
                [ngClass] = "{ 'is-invalid': emailInput.touched && emailInput.invalid }" 
            />
            <div class="invalid-feedback" 
                *ngIf="emailInput.touched && emailInput.invalid">
                    <p *ngIf="emailInput.errors.required">Email is required</p>
                    <p *ngIf="emailInput.errors.pattern">Invalid email</p>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input #passwordInput="ngModel" type="password" required 
                pattern="^[0-9a-zA-Z]{8,20}$"
                id="password" name="password" class="form-control" 
                placeholder="Enter Password" 
                [(ngModel)]="userDetails.password" 
                [ngClass] = "{ 'is-invalid': passwordInput.touched && passwordInput.invalid }"   
            />
            <div class="invalid-feedback" 
                *ngIf="passwordInput.touched && passwordInput.invalid">
                    <p *ngIf="passwordInput.errors.required">Password is required</p>
                    <p *ngIf="passwordInput.errors.pattern">
                        Your password must be 8-20 characters long, contain letters and
                        numbers, and must not contain spaces, special characters, or emoji.
                    </p>
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label for="validatePassword">Confirm Password</label>
            <input #validatePasswordInput="ngModel" type="password" required
                id="validatePassword" name="confirmPassword" class="form-control"   
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
                [ngClass] = "{ 'is-invalid': validatePasswordInput.touched && validatePasswordInput.invalid }"      
            />
            <div class="invalid-feedback" 
                *ngIf="validatePasswordInput.touched && validatePasswordInput.invalid">
                    <p *ngIf="validatePasswordInput.errors.required">Confirm your password</p>
                    <p *ngIf="confirmPassword != '' && confirmPassword != userDetails.password">
                        Passwords don't match
                    </p>
            </div>
            <span
                *ngIf="validatePasswordInput.touched && confirmPassword != '' && confirmPassword != userDetails.password">Passwords
                don't match<br></span>
        </div>

        <button type="button" [disabled]="registerForm.form.invalid" class="btn" (click)="next()">Next</button>
    </div>

    <!-- Second Step -->
    <div *ngIf="registrationStage == 2">

        <!-- City -->
        <div class="form-group">
            <label for="city">City</label>
            <select #citySelect="ngModel" required
                id="city" name="city" class="form-control"    
                [(ngModel)]="userDetails.city" 
                [ngClass] = "{ 'is-invalid': citySelect.touched && citySelect.invalid }"      
            >
                <option [ngValue]="undefined" disabled>Select a City</option>
                <option *ngFor="let city of cities" key="city">{{city}}</option>
            </select>
            <div class="invalid-feedback" 
                *ngIf="citySelect.touched && citySelect.invalid">
                    <p *ngIf="citySelect.errors.required">City is required</p>
            </div>
        </div>

        <!-- Street -->
        <div class="form-group">
            <label for="street">Street</label>
            <input #streetInput="ngModel" type="text" required 
                id="street" name="street" class="form-control"  placeholder="Enter Street" 
                [(ngModel)]="userDetails.street"   
                [ngClass] = "{ 'is-invalid': streetInput.touched && streetInput.invalid }"      
            />
            <div class="invalid-feedback" 
                *ngIf="streetInput.touched && streetInput.invalid">
                    <p *ngIf="streetInput.errors.required">Street is required</p>
            </div>
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input #firstNameInput="ngModel" type="text" required 
                id="firstName" name="firstName" class="form-control" 
                placeholder="Enter First Name" 
                [(ngModel)]="userDetails.firstName"  
                [ngClass] = "{ 'is-invalid': firstNameInput.touched && firstNameInput.invalid }"       
            />
            <div class="invalid-feedback" 
                *ngIf="firstNameInput.touched && firstNameInput.invalid">
                    <p *ngIf="firstNameInput.errors.required">First Name is required</p>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input  #lastNameInput="ngModel" type="text" required 
                id="lastName" name="lastName" class="form-control" 
                placeholder="Enter Last Name"
                [(ngModel)]="userDetails.lastName" 
                [ngClass] = "{ 'is-invalid': lastNameInput.touched && lastNameInput.invalid }"         
            />
            <div class="invalid-feedback" 
                *ngIf="lastNameInput.touched && lastNameInput.invalid">
                    <p *ngIf="lastNameInput.errors.required">Last Name is required</p>
            </div>
        </div>

        <button type="submit" [disabled]="registerForm.form.invalid" class="btn">Register</button>
        <button type="button" class="btn" (click)="back()">Back</button>
    </div>
</form><br>

<div class="text-center">
    <a routerLink="/home/login">Already Have an Account? <span>sign in</span></a>
</div>