<h2>Welcome <span class="sub-title">sign up</span></h2>

<!-- <div class="stepper">
    <div class="step-indicator">{{registrationStage}} of 2</div>
    <div>
        <p *ngIf="registrationStage == 1">Login Details <span><br/> Next: Personal Details</span></p>
        <p *ngIf="registrationStage == 2">Personal Details</p>
    </div>
</div> -->

<form #registerForm="ngForm">
    <div *ngIf="registrationStage == 1">
        <div>
            <label for="userIdInput">ID</label>
            <input #userIdInput="ngModel" type="text" placeholder="Enter ID" name="userId" [(ngModel)]="userDetails.id"
                id="userIdInput" pattern="^[0-9]{9}$" required /><br>

            <span *ngIf="userIdInput.touched && userIdInput.errors?.required">ID is required<br></span>
            <span *ngIf="userIdInput.errors?.pattern">User ID should be a 9 figure nummber<br></span>
        </div>

        <div>
            <label for="emailInput">Email</label>
            <input #emailInput="ngModel" type="email" placeholder="Enter Email" name="email"
                [(ngModel)]="userDetails.email" id="emailInput" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" /><br>

            <span *ngIf="emailInput.touched && emailInput.errors?.required">Email is required<br></span>
            <span *ngIf="emailInput.errors?.pattern">Email should have this pattern usr@ab.cd<br></span>
        </div>

        <div>
            <label for="passwordInput">Password</label>
            <input #passwordInput="ngModel" type="password" placeholder="Enter Password" name="password"
                [(ngModel)]="userDetails.password" id="passwordInput" required pattern="^[0-9a-zA-Z]{8,20}$" /><br>

            <span *ngIf="passwordInput.touched && passwordInput.errors?.required">Password is required<br></span>
            <span *ngIf="passwordInput.errors?.pattern">Your password must be 8-20 characters long, contain letters
                and
                numbers, and must not contain spaces, special characters, or emoji.<br></span>
        </div>

        <div>
            <label for="validatePasswordInput">Confirm Password</label>
            <input #validatePasswordInput="ngModel" type="password" placeholder="Confirm Password"
                name="confirmPassword" [(ngModel)]="confirmPassword" id="validatePasswordInput" required /><br>

            <span *ngIf="validatePasswordInput.touched && validatePasswordInput.errors?.required">Confirm your
                password<br></span>
            <span
                *ngIf="validatePasswordInput.touched && confirmPassword != '' && confirmPassword != userDetails.password">Passwords
                don't match<br></span>
        </div>

        <input type="button" [disabled]="registerForm.form.invalid" class="btn" value="Next" (click)="next()" />
    </div>

    <div *ngIf="registrationStage == 2">
        <div>
            <label for="citySelect">City</label><br>
            <select #citySelect="ngModel" name="city" required [(ngModel)]="userDetails.city" id="citySelect">
                <option *ngFor="let city of cities" key="city">{{city}}</option>
            </select><br>

            <span *ngIf="citySelect.touched && citySelect.errors?.required">City is required<br></span>
        </div>

        <div>
            <label for="streetInput">Street</label>
            <input #streetInput="ngModel" type="text" placeholder="Enter Street" name="street"
                [(ngModel)]="userDetails.street" id="streetInput" required /><br>

            <span *ngIf="streetInput.touched && streetInput.errors?.required">Street is required<br></span>
        </div>

        <div>
            <label for="firstNameInput">First Name</label>
            <input #firstNameInput="ngModel" type="text" placeholder="Enter First Name" name="firstName"
                [(ngModel)]="userDetails.firstName" id="firstNameInput" required /><br>

            <span *ngIf="firstNameInput.touched && firstNameInput.errors?.required">First Name is
                required<br></span>
        </div>

        <div>
            <label for="lastNameInput">Last Name</label>
            <input #lastNameInput="ngModel" type="text" placeholder="Enter Last Name" name="lastName"
                [(ngModel)]="userDetails.lastName" id="lastNameInput" required /><br>

            <span *ngIf="lastNameInput.touched && lastNameInput.errors?.required">Last Name is required<br></span>
        </div>

        <input type="button" [disabled]="registerForm.form.invalid" class="btn" value="Register" (click)="register()" />
        <input type="button" class="btn" value="Back" (click)="back()" />
    </div>
</form><br><br>

<div class="text-center">
    <a routerLink="/home/login">Already Have an Account? <span>sign in</span></a>
</div>