@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Belleza');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

/* Variables Declarations */
:root {
    --font-primary: "Belleza";
    --font-secondary: "Kavivanar";

    --font-xlarge: 3.5vmax;
    --font-large: 2.5vmax;
    --font-medium: 1.5vmax;
    --font-small: 1vmax;
    --font-xsmall: .9vmax;

    /* Color Scheme */
    --light-green: #e4ebba;
    --medium-green: #BDC881;
    --dark-green: #487242;
    --grey: #919191;
    --light-orange: #fcd3a7;
    --medium-orange: #fea555;
    --dark-orange: #f1691b;

    /* Screen Breakpoints */
    --bp-xsmall: 280px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

button {
    outline: none;
    border: none;
    background: none;
}

a {
    color:rgb(10, 19, 6)
    }
    a>span {
        font-weight: bolder; 
    }

.btn-full-main {
    width: 100%;
    padding: .2rem;
    color: white;
    text-transform: uppercase;
    background-color: var(--dark-green);
}

/********* Scrollbar *******/
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

/* remove background from autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
