<div class="header-content clearfix">
    <img class="logo-img" src="../../../assets/Online Supermarket.png" />
    <p>
        <i class="fal fa-user"></i> Hello, Stranger <i class="fas fa-chevron-down"></i><br />
        
        <input type="text" placeholder="Search Item..." />

        <button class="btn cart-btn">
            <i class="fal fa-shopping-cart">
                <span class="cart-badge">{{0}}</span>
            </i>
        </button><br />

        <span>
            Contact us
            <i class="fal fa-phone-alt"></i> (+972) 972-972-972 |
            <i class="fal fa-envelope"></i> super@market.com
        </span>
    </p>
</div>