<div class="header">
    <div class="left">
        <h1>Supermarket</h1>
        <span>Contact Us
            <i class="fas fa-phone"> +972-972-972-972</i> |
            <i class="fas fa-envelope"> super@market.com</i>
        </span>
    </div>

    <div class="right">
        <div>
            <i class="fas fa-user"> Hello, New Guest  <i class="fas fa-chevron-down"></i></i>
        </div>

        <div>
            <input type="text" placeholder="Search Item..." />
            <button class="btn">
                <i class="far fa-shopping-cart"></i>
            </button>
        </div>
    </div>

</div>