<div class="cart-container">
    <div>
        <button *ngIf="!cartService.isInCheckoutMode">X</button>
        <button *ngIf="cartService.isInCheckoutMode" (click)="onBackToShop()">
            Back To Shop
        </button>
        <h2>My Cart</h2>
        <button *ngIf="!cartService.isInCheckoutMode" 
            (click)="onDeleteAllItems()">Delete all items</button>
    </div>

    <div>
       <table>
            <tbody>
                <tr *ngFor="let product of cartService.cart.products | keyvalue">
                    <td><img src="{{product.value.imageUrl}}" class="cart-product-img"/></td>
                    <td>{{product.value.name}}</td>
                    <td>{{product.value.quantity}} x </td>
                    <td>₪{{product.value.price}}</td>
                    <td>
                        <button *ngIf="!cartService.isInCheckoutMode" 
                        (click)="onDeleteItemFromCart(product.value)">X</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    
    <div>
        <h3>Total: ₪{{cartService.total}}</h3>
        <button *ngIf="!cartService.isInCheckoutMode" class="btn btn-primary" 
            (click)="onCheckout()">Checkout</button>
    </div>
</div>
