.admin-container {
    display: flex;
    height: clamp(400px, 100%, 100vh);
    overflow-x: hidden;
    position: relative;
}

.products-section {
    width: 70%;
    overflow-x: hidden;
}

.mangement-section {
    width: 30%;
    overflow-x: hidden;
    border: solid 2px var(--medium-green);
}