.customer-container {
    display: flex;
    height: clamp(500px, 100%, 100vh);
}

input[type=number]{
    margin: .5rem;
    padding: .2rem;
    width: 3rem;
    text-align: center;
    border: solid 1px var(--grey);
}

/********** Products Container **********/
.products-section {
    /* width: 70%; */
    overflow-x: hidden;
    animation: slideInAnimation 1s forwards;
}
.products-section.full {
    animation: expand-products-conatiner-animation 1s forwards;
}
.products-section:not(.full) {
    animation: reduce-products-conatiner-animation 1s forwards;
}
.products-section.hidden {
    animation: slide-out-animation 1.2s linear forwards;
}

/********** Products Animation ********/
@keyframes expand-products-conatiner-animation {
    from { width: 70%; }
    to { width: 100%; }
}
@keyframes reduce-products-conatiner-animation {
    from { width: 100%; }
    to { width: 70%; }
}
@keyframes slide-out-animation {
    from { width: 70%; }
    to {width: 0%; }
}

/********** Cart Container **********/
.cart-section {
    width: 30%;
    position: relative;
    overflow: hidden;
    /* border: solid 3px var(--medium-green); */
}
.cart-section.hidden {
    animation: close-cart-animation 1.5s forwards;
}
.cart-section:not(.hidden){
    animation: open-cart-animation 1s  forwards;
}

/********** Cart Animation *********/
@keyframes close-cart-animation {
    from { width: 30%; }
    to { width: 0; }
}
@keyframes open-cart-animation {
    from { width: 0; }
    to { width: 30%; }
}

/********* Checkout Container ********/
.checkout-section {
    width: 70%;
    overflow-x: hidden;
    border: solid 1px var(--dark-green);
    animation: slide-in-animation 1s linear;
}

/********** Checkout Animation **********/
@keyframes slide-in-animation {
    from { width: 0%; }
    to {width: 70%; }
}

/******* Modal ********/
.product-modal-img {
    width: 10rem;
    height: 10rem;
}

@media only screen and (max-width: 1010px) {
    .products-section,.checkout-section {
        width: 60%;
    }
    .cart-section{
        width: 40%;
    }
    @keyframes slide-in-animation {
        from { width: 0%; }
        to {width: 60%; }
    }
    @keyframes close-cart-animation {
        from { width: 40%; }
        to { width: 0; }
    }
    @keyframes open-cart-animation {
        from { width: 0; }
        to { width: 40%; }
    }
    @keyframes expand-products-conatiner-animation {
        from { width: 60%; }
        to { width: 100%; }
    }
    @keyframes reduce-products-conatiner-animation {
        from { width: 100%; }
        to { width: 60%; }
    }
    @keyframes slide-out-animation {
        from { width: 60%; }
        to {width: 0%; }
    }
}

@media only screen and (max-width: 720px) {
    .products-section,.checkout-section {
        width: 100%;
    }
    .cart-section{
        width: 0%;
    }
    @keyframes slide-in-animation {
        from { width: 0%; }
        to {width: 100%; }
    }
    @keyframes close-cart-animation {
        from { width: 100%; }
        to { width: 0; }
    }
    @keyframes open-cart-animation {
        from { width: 0; }
        to { width: 100%; }
    }
    @keyframes expand-products-conatiner-animation {
        from { width: 0%; }
        to { width: 100%; }
    }
    @keyframes reduce-products-conatiner-animation {
        from { width: 100%; }
        to { width: 0%; }
    }
    @keyframes slide-out-animation {
        from { width: 100%; }
        to {width: 0%; }
    }
}

/* @media only screen and (max-width: 450px) {
    main {
        padding: 1rem !important;
    }
} */

/* @media only screen and (max-width: 900px) {
    .products-section {
        width: 55% !important;
    }
    .cart-section {
        width: 45% !important;
    }
}

@media only screen and (max-width: 1300px) {
    .products-section {
        width: 60% !important;
    }
    .cart-section {
        width: 40% !important;
    }
} */