.customer-container {
    width: 100%;
    height: 80vh;
    display: flex;
    overflow-x: hidden;
    position: relative;
}

/********** Products Container **********/
.products-section {
    width: 70%;
    overflow-x: hidden;
}
.products-section.full {
    animation: expand-products-conatiner-animation 1s forwards;
}
.products-section:not(.full) {
    animation: reduce-products-conatiner-animation 1s forwards;
}
.products-section.hide {
    animation: slide-out-animation 1s linear forwards;
}
/********** Products Animation ********/
@keyframes expand-products-conatiner-animation {
    from { width: 70%; }
    to { width: 100%; }
}
@keyframes reduce-products-conatiner-animation {
    from { width: 100%; }
    to { width: 70%; }
}
@keyframes slide-out-animation {
    to {
        width: 0%;
        visibility: hidden;
    }
}

/********** Cart Container **********/
.cart-section {
    width: 30%; 
    display: flex;
    flex-basis: content;
    /* position: relative; */
    overflow-x: hidden;
    border: solid 1px var(--medium-green);
}
.cart-section.closed {
    animation: close-cart-animation 1s linear forwards;
}
.cart-section:not(.closed){
    animation: open-cart-animation 1s forwards;
}

/********** Cart Animation *********/
@keyframes close-cart-animation {
    from { width: 30%; }
    to { width: 0; }
}
@keyframes open-cart-animation {
    from { width: 0; }
    to { width: 30%; }
}

/********* Checkout Container ********/
.checkout-section {
    width: 70%;
    overflow-x: hidden;
    /* border: solid 1px var(--dark-green); */
    /* transform: translateX(0); */
    animation: slideInAnimation 1s linear;
}

/********** Checkout Animation **********/
@keyframes slideInAnimation {
    /* 0% { transform: translateX(100%); }
    100% { transform: translateX(0); } */
    from { width: 0%; }
    to {width: 70%; }
}

/******* Modal ********/
.product-modal-img {
    width: 10rem;
    height: 10rem;
}

/* @media only screen and (max-width: 450px) {
    main {
        padding: 1rem !important;
    }
} */

@media only screen and (max-width: 900px) {
    .products-section {
        width: 55% !important;
    }
    .cart-section {
        width: 45% !important;
    }
}

@media only screen and (max-width: 1300px) {
    .products-section {
        width: 60% !important;
    }
    .cart-section {
        width: 40% !important;
    }
}