<div class="customer-container">
    <div *ngIf="cartService.isInCheckoutMode" class="checkout-section">
        <app-checkout></app-checkout>
    </div>

    <div 
        [ngClass]="{ 'products-section': true, full: !cartService.isCartOpen, hide: cartService.isInCheckoutMode}">
        <app-products (productClickEvent)="onProductClick($event)"></app-products>
    </div>

    <div [ngClass]="{ 'cart-section': true, closed: !this.cartService.isCartOpen }">
        <app-cart></app-cart>
    </div>
    
    <!-- <div *ngIf="cartService.isInCheckoutMode" class="checkout-section">
        <app-checkout></app-checkout>
    </div> -->
</div>


<!-- Add product to cart - Modal -->
<div class="container">
    <div class="modal" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayModal}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="onCloseModal()">&times;</button><br />
                    <img src="{{selectedProduct.imageUrl}}" class="product-modal-img" />
                    <h4 class="modal-title">{{selectedProduct.name}}</h4>
                    <h5>{{selectedProduct.unitPrice}}</h5>
                    <!-- <input *ngIf="selectedProduct.categoryId == 1" type="number" value="0.5" step="0.5"/> -->
                    <input type="number" [(ngModel)]="selectedProduct.quantity" min="1"/>
                </div>

                <div class="modal-footer">
                    <input *ngIf="!isInCart" type="button" value="Add to Cart" class="btn btn-primary" (click)="addToCart()" />
                    <input *ngIf="isInCart" type="button" value="Update Cart" class="btn btn-primary" (click)="updateCart()" />
                </div>
            </div>
        </div>
    </div>
</div>
