.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    min-height: 100%;
    /* height: 100%;
    overflow-y: auto; */
}

.category-menu {
    width: 100%;
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--dark-green);
}

.category-menu button {
    padding: .6rem;
    color: white;
    width: 10rem;
}
.category-menu button:hover {
    background: var(--medium-green);
    color: white;
}
.category-menu button.selected {
    background: var(--medium-green);
    color: white;
}

