.checkout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/******* Header *******/
.checkout-header {
  width: 100%;
  text-align: center;
  background-color: var(--dark-green);
}
.checkout-header h2 {
  color: white;
  font-weight: 600;
}

/******** Content ********/
.checkout-content {
  width: 60%;
  height: 90%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

h5 {
  color: var(--medium-green);
  font-family: var(--font-secondary);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h5:before, h5:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    color: var(--medium-green)
}
h5:after {
    margin: 0 0 0 20px;
}

.checkout-content .btn-full-main {
  margin-top: 1rem;
}

/********* Disabled Days **********/
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .text-muted {
    background-color: #f04e4e;
    border-radius: 1rem;
    color: white;
  }
  .weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
  }
  .hidden {
    display: none;
  }

/********** DatePicker Button *******/
button.calendar, button.calendar:active{
  width: 2.75rem;
  background-image: url('../../../assets/calendar.png') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
 }
.btn-outline-secondary:hover {
  background-color: var(--light-green);
}